body {
	color:#1a1a1a;
	font-family: Roboto;
}

p {
	font-size:14px;
	font-weight:300;
}

h1 {
	font-size: 32px;
	font-weight:700;
	margin-bottom:5px;
}

h3 {
	font-size: 22px;
	font-weight:700;
	margin-bottom:5px;
}

.container {
	margin:0;
	padding:0;
	max-width:100%;
	width:100%;
}

.homepage_top {
	height:100vh;
}

.homepage_intro {
	margin-top:40%;
}

.homepage_name {

}

.homepage_title {

}

.homepage_recentwork {
	margin: 10px auto;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	padding:0 10px;	
}

.homepage_middle {
	margin-bottom:75px;

}

.homepage_project {

}

.homepage_project a {
	text-decoration: none;
	color:#1a1a1a;
}

.homepage_project a:hover, .homepage_footer a:hover {
	color: #ec476b!important;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
}

.project_link {

}

.project_name {

}

.project_description {
	color:#1a1a1a!important;
}

.homepage_footer {
	background-color:#1a1a1a;
	padding:20px 0;
}

.homepage_footer a {
	text-decoration: none;
	color:#ffffff;
}

.homepage_footer h3 {
	margin-top:5px;
}

.contact_info {
	color:#fff;
	max-width: 100%;
    width: 550px;
    display: block;
    margin: 0 auto;
}

.post_list {
	list-style: none;
	text-align:left;
	padding-left:0;
}

.post_link {
	font-weight: bold;
}

.container {
	padding:0 10px;
}

@media screen and (min-width: 650px) {

	p {
		font-size:16px;
		font-weight:300;
	}

	h1 {
		font-size: 54px;
		font-weight:700;
	}

	h3 {
		font-size: 32px;
		font-weight:700;
	}

	.homepage_title, .project_description, .container, .homepage_recentwork {
		width:550px;
		margin:0 auto;
	}