body {
	color:#1a1a1a;
	font-family: Roboto;
	text-align:center;
}

p {
	font-size:14px;
	font-weight:300;
}

h1 {
	font-size: 32px;
	font-weight:700;
}

h3 {
	font-size: 24px;
	font-weight:700;
}

.homepage_top {
	height:100vh;
}

.homepage_intro {
	position:absolute;
	top:35%;
}

.homepage_name {

}

.homepage_title {

}

.homepage_recentwork {
	margin: 10px 0;
	position: absolute;
	bottom: 0;
}

.homepage_middle {
	min-height:100vh;

}

.homepage_project {

}

.project_link {

}

.project_name {

}

.project_description {

}

.homepage_footer {
	background-color:#1a1a1a;
}

.contact_info {
	color:#fff;
}

@media screen and (min-width: 650px) {

	p {
		font-size:16px;
		font-weight:300;
	}

	h1 {
		font-size: 46px;
		font-weight:700;
	}

	h3 {
		font-size: 32px;
		font-weight:700;
	}